In [2]:
import pandas as pd
import numpy as np

In [3]:
drivers = pd.read_csv('Datasets\drivers.csv', sep=';')
drivers

,driverId,driverRef,number,code,name.forename,name.surname,dob,nationality,url
0,121,andretti,\N,\N,Michael,Andretti,"1962-10-05 00:00:00,000",American,http://en.wikipedia.org/wiki/Michael_Andretti
1,158,cheever,\N,\N,Eddie,Cheever,"1958-01-10 00:00:00,000",American,http://en.wikipedia.org/wiki/Eddie_Cheever
2,193,sullivan,\N,\N,Danny,Sullivan,"1950-03-09 00:00:00,000",American,http://en.wikipedia.org/wiki/Danny_Sullivan
3,207,mario_andretti,\N,\N,Mario,Andretti,"1940-02-28 00:00:00,000",American,http://en.wikipedia.org/wiki/Mario_Andretti
4,214,cogan,\N,\N,Kevin,Cogan,"1956-03-31 00:00:00,000",American,http://en.wikipedia.org/wiki/Kevin_Cogan
...,...,...,...,...,...,...,...,...,...
848,850,pietro_fittipaldi,51,FIT,Pietro,Fittipaldi,"1996-06-25 00:00:00,000",Brazilian,http://en.wikipedia.org/wiki/Pietro_Fittipaldi
849,851,aitken,89,AIT,Jack,Aitken,"1995-09-23 00:00:00,000",British,http://en.wikipedia.org/wiki/Jack_Aitken
850,852,tsunoda,\N,TSU,Yuki,Tsunoda,"2000-05-11 00:00:00,000",Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
851,853,mazepin,\N,MAZ,Nikita,Mazepin,"1999-03-02 00:00:00,000",Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin
852,854,mick_schumacher,\N,SCH,Mick,Schumacher,"1999-03-22 00:00:00,000",German,http://en.wikipedia.org/wiki/Mick_Schumacher

In [4]:
circuits = pd.read_csv('Datasets\circuits.csv', sep=',')
circuits

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,MontmelÃ³,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park
...,...,...,...,...,...,...,...,...,...
72,73,BAK,Baku City Circuit,Baku,Azerbaijan,40.37250,49.85330,-7,http://en.wikipedia.org/wiki/Baku_City_Circuit
73,74,hanoi,Hanoi Street Circuit,Hanoi,Vietnam,21.01660,105.76600,9,http://en.wikipedia.org/wiki/Hanoi_Street_Circuit
74,75,portimao,AutÃ³dromo Internacional do Algarve,PortimÃ£o,Portugal,37.22700,-8.62670,108,http://en.wikipedia.org/wiki/Algarve_Internati...
75,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255,http://en.wikipedia.org/wiki/Mugello_Circuit
76,77,jeddah,Jeddah Street Circuit,Jeddah,Saudi Arabia,21.54330,39.17280,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...

In [5]:
constructors = pd.read_csv('Datasets\constructors.csv', sep=';')
constructors

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
2,16,bar,BAR,British,http://en.wikipedia.org/wiki/British_American_...
3,19,jaguar,Jaguar,British,http://en.wikipedia.org/wiki/Jaguar_Racing
4,21,arrows,Arrows,British,http://en.wikipedia.org/wiki/Arrows_Grand_Prix...
...,...,...,...,...,...
206,206,marussia,Marussia,Russian,http://en.wikipedia.org/wiki/Marussia_F1
207,207,caterham,Caterham,Malaysian,http://en.wikipedia.org/wiki/Caterham_F1
208,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team

In [6]:
pit_stops = pd.read_csv('Datasets\pit_stops.csv', sep=';')
pit_stops

,raceId,driverId,stop,lap,time,duration,milliseconds
0,841,153,1,1,"1899-12-30 17:05:23,000","26,898",26898
1,841,30,1,1,"1899-12-30 17:05:52,000","25,021",25021
2,844,815,1,1,"1899-12-30 15:05:18,000","29,27",29270
3,845,155,1,1,"1899-12-30 14:05:11,000","24,871",24871
4,852,10,1,1,"1899-12-30 14:05:58,000","35,092",35092
...,...,...,...,...,...,...,...
8025,982,836,6,37,"1899-12-30 21:30:39,000","32,183",32183
8026,1020,1,6,56,"1899-12-30 16:53:29,000","19,61",19610
8027,1020,825,6,57,"1899-12-30 16:54:35,000","20,7",20700
8028,1039,8,6,44,"1899-12-30 16:50:29,000",NaN,1180725
8029,1039,20,6,45,"1899-12-30 16:51:32,000",NaN,1266590

In [7]:
races = pd.read_csv('Datasets/races.csv', sep=',')
races

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...
...,...,...,...,...,...,...,...,...
1053,1069,2021,18,69,United States Grand Prix,2021-10-24,19:00:00,http://en.wikipedia.org/wiki/2021_United_State...
1054,1070,2021,19,32,Mexico City Grand Prix,2021-10-31,19:00:00,http://en.wikipedia.org/wiki/2021_Mexican_Gran...
1055,1071,2021,20,18,Brazilian Grand Prix,2021-11-07,17:00:00,http://en.wikipedia.org/wiki/2021_Brazilian_Gr...
1056,1072,2021,22,77,Saudi Arabian Grand Prix,2021-12-05,16:00:00,http://en.wikipedia.org/wiki/2021_Saudi_Arabia...
1057,1073,2021,23,24,Abu Dhabi Grand Prix,2021-12-12,13:00:00,http://en.wikipedia.org/wiki/2021_Abu_Dhabi_Gr...

In [8]:
results = pd.read_csv('Datasets/results.csv', sep=';')
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,2230,125,22,6,2.0,3,\N,R,14,0,39,\N,\N,\N,\N,\N,\N,5
1,3121,166,30,6,3.0,1,\N,R,16,0,58,\N,\N,\N,\N,\N,\N,5
2,3361,177,56,6,4.0,4,\N,R,14,0,46,\N,\N,\N,\N,\N,\N,5
3,3672,191,30,6,3.0,3,\N,R,17,0,5,\N,\N,\N,\N,\N,\N,5
4,4330,221,56,6,6.0,14,\N,R,16,0,22,\N,\N,\N,\N,\N,\N,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24955,19799,823,642,6,4.0,2,2,2,2,6,90,+40.1,10448600,\N,\N,\N,\N,1
24956,19852,825,641,6,44.0,6,2,2,2,6,42,+55.24,7728880,\N,\N,\N,\N,1
24957,19906,827,647,6,8.0,4,2,2,2,6,36,+2:51.0,10117200,\N,\N,\N,\N,1
24958,19984,831,498,6,6.0,4,2,2,2,6,80,+24.6,9783900,\N,\N,\N,\N,1
24959,20006,832,498,6,6.0,3,2,2,2,6,70,+54.28,10068380,\N,\N,\N,\N,1

In [ ]:
# AÃ±o con mÃ¡s carreras:
races_per_year= []
for i in enumerate (races['year']):
    if races['year']=


races_per_year = races['year']

dtype('int64')